<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoinicio"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoinicio"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".NuevoEstudianteActivity"
            android:exported="false" />

        <activity
            android:name=".InicioActivity"
            android:exported="false" />

        <activity
            android:name=".ResultadoTestActivity"
            android:exported="false" />

        <activity
            android:name=".TestEstudioActivity"
            android:exported="false" />

        <activity
            android:name=".EventosActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".BibliotecaActivity"
            android:exported="false" />
        <activity
            android:name=".TutorActivity"
            android:exported="false" />


    </application>

</manifest>