<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejemplo.proyecto">

    <application
        android:allowBackup="true"
        android:label="Proyecto Ejemplo"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Declaramos la actividad principal -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
