body {
  font-family: Arial, sans-serif;
  background-color: #cce7ff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 20px;
}

.campo label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.campo input,
.campo select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.error {
  color: rgb(82, 7, 143);
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.error:empty {
  display: none;
}

.mostrar-contraseña-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 12px !important;
  margin-top: 15px;
}

.mostrar-contraseña-container label {
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
}

.mostrar-contraseña-container input[type="checkbox"] {
  margin: 0;
  transform: scale(1.1);
  cursor: pointer;
}

.terminos-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 25px;
  margin-top: 15px;
}

.terminos-container label {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  margin: 0;
  color: #000;
}

.terminos-container input[type="checkbox"] {
  margin: 0;
  transform: scale(1.1);
  cursor: pointer;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.botones button {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.botones button[type="submit"] {
  background-color: #007bff;
}

.botones button.reset {
  background-color: #6c757d;
}

.botones button:hover {
  opacity: 0.9;
}



input.valid,
select.valid {
  border: 2px solid #007bff;
  background-color: #e6f0ff;
  outline: none;
}

input.invalid,
select.invalid {
  border: 2px solid #e60000;
  background-color: #f0a6a6 !important;;
  outline: none;
}
