body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 20px;
}

.campo label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.campo label input[type="checkbox"] {
  margin-left: auto;
  transform: scale(1.2);
}


.campo input,
.campo select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.campo.checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: normal;
}

.botones {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.botones button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

.botones button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones button.reset {
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: rgb(82, 7, 143);
  font-size: 12px;
  margin-top: 4px;
  display: block;
}