<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Panel de Control</h1>
    <p>Bienvenido al sistema de gestión. Seleccione una opción:</p>
    <ul>
        <li><a th:href="@{/miweb/listaSocios}">Consultar Lista de Socios</a></li>
        <li><a th:href="@{/miweb/listaGimnasios}">Consultar Sedes (Gimnasios)</a></li>
        <li><a th:href="@{/miweb/listaActividades}">Consultar Catálogo de Actividades</a></li>
        <li><a th:href="@{/miweb/socios/morosos}">Ver Socios con Pagos Pendientes</a></li>
    </ul>
</body>
</html>