<%- include ("template/cabecera", { tituloWeb: 'asdfds 2' }) %>

    <h1>Estamos en la vista EJS</h1>
    <h2>
        <%= titulo %>
    </h2>

    <p>
        <%= Descripcion %>
    </p>
    <%- include("template/cierre") %>