<%- include ("template/cabecera", { tituloWeb: 'hfjfgx 2' }) %>

    <h1>Estamos en la vista 2 EJS</h1>
    <h2>
        <%= titulo %>
    </h2>

    <p>
        <%= Descripcion %>
    </p>

    <%- include("template/cierre") %>