<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Socios</title>
</head>
<body>
    <h1>Catálogo de Socios</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Gimnasio</th>
                <th>Estado de Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="s : ${socios}">
                <td th:text="${s.id}"></td>
                <td>
                    <a th:href="@{/miweb/socio/{id}(id=${s.id})}" th:text="${s.nombre}"></a>
                </td>
                <td th:text="${s.gimnasio != null ? s.gimnasio.nombre : 'Sin sede'}"></td>
                <td th:text="${s.estaAlCorrientePago ? 'Pagado' : 'Pendiente'}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/miweb/}">Volver al Inicio</a>
</body>
</html>