<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-10">
            <div class="card shadow-lg border-0 rounded-4 p-4 text-center">
                
                <div class="text-start mb-3">
                    <a routerLink="/" class="text-muted text-decoration-none small">
                        <i class="bi bi-arrow-left"></i> Volver a la web
                    </a>
                </div>

                <div class="mb-3 text-danger">
                    <i class="bi bi-shield-lock-fill" style="font-size: 4rem;"></i>
                </div>
                
                <h3 class="fw-bold">Acceso Administración</h3>
                <p class="text-muted small">Solo personal autorizado</p>
                <hr>

                <div *ngIf="mensaje" class="alert alert-danger p-2 small border-0">
                    <i class="bi bi-exclamation-octagon-fill me-2"></i> {{ mensaje }}
                </div>

                <form (ngSubmit)="accederAdmin()">
                    <div class="mb-3 text-start">
                        <label class="form-label fw-bold">Usuario</label>
                        <input type="email" name="email" [(ngModel)]="email" 
                               class="form-control border-2" placeholder="usuario@gmail.com" required>
                    </div>

                    <div class="mb-3 text-start">
                        <label class="form-label fw-bold">Contraseña</label>
                        <div class="input-group">
                            <input [type]="verClave ? 'text' : 'password'" name="clave" [(ngModel)]="clave" 
                                   class="form-control border-2 border-end-0" placeholder="********" required>
                            <span class="input-group-text bg-white border-2 border-start-0" 
                                  style="cursor: pointer;" (click)="togglePassword()">
                                <i class="bi" [ngClass]="verClave ? 'bi-eye' : 'bi-eye-slash'"></i>
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-3 fw-bold mt-2 shadow-sm" 
                            style="background-color: #1a3a5a;">
                        IDENTIFICARSE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>